body {
    color: #839496;
    background: #073642;
    font-family: "Droid Sans Mono";

}
h1 {
    text-align: center;
    color: #DC322F;
}
h2 {
    text-align: center;
}
b {
    font-size: 17px;
    color: #268BD2;
    background: #001F27;
}
code {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 15px;
    font-family: Monaco;
    background: #002B36;
    color: #2AA198;
}
p {
    padding: 33px;
    border-radius: 17px;
    background: #001F27;
}
a {
    color: #85990A;
}
